.input-result{
    height: 90px;
    width: 100%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    font-weight: bold;
    font-size: 30px;
    background: linear-gradient(rgb(75, 74, 74),rgb(0, 0, 0));
    outline: 1px solid rgb(82, 82, 82);
    color: white;
    padding: 10px;
}
